@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  direction: rtl;
  overscroll-behavior: none;
  touch-action: manipulation;
  overflow-x: hidden;

}


@layer utilities {
  .bg_header {
    background: radial-gradient(69.98% 105.16% at 50.00% 50.00%, #FAA530 0%, #F57810 100%);
  }

  .ltr {
    direction: ltr;
  }

  .menu {
    background: rgba(249, 249, 249, 0.51);
    box-shadow: 0px -10px 99px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(15px);
  }
}

@layer components {
  .layout {
    @apply w-[90%] min-h-screen mx-auto flex flex-col justify-between gap-20
  }

  .container_header_signup {
    @apply relative before:absolute before:right-0 before:-bottom-28 before:bg-[url('../assets/images/bg_line_bottom.svg')] before:w-full before:h-[200px]
  }

  .w-90 {
    @apply w-[90%] mx-auto
  }
}


@import "./font.css";
@import "./auth.css";
@import "./loading.css";




.form_signup .MuiFormControlLabel-root 
.MuiButtonBase-root {
    @apply !m-0 !p-0
}

.form_signup .MuiFormGroup-root {
    display: -webkit-box !important;
}

.form_signup .MuiFormControlLabel-root {
    @apply !ml-4 gap-2
}

.form_signup .MuiSelect-select {
    @apply !font-artin-regular !py-[0.9rem] !bg-[#EFF2F6]
}


.custom_btn {
  border: 1px solid #eee !important;
  color: #222 !important;
  font-size: 14px !important;
  height: 48px !important;
}




.active-menu {
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, rgba(246, 125, 20, 0.00) 0%, #F67D14 52.72%, rgba(246, 125, 20, 0.00) 100%);
}


.bg_profile {
  background: radial-gradient(24.89% 56.63% at 63.61% -3.44%, #E73913 0%, #F5620F 51.56%, #F57D0E 100%);
}

.bg_cards {
  background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% );}


  .rtl{
    direction: rtl !important;
  }


  .MuiPagination-ul{
    flex-direction: row-reverse !important;
  }


  .container_create_taxi .MuiFormGroup-root{
    flex-direction: row !important;
    margin: 0 !important;
    gap:25px !important;

  }

  .container_create_taxi .MuiFormControlLabel-root{
    gap:5px !important;
    margin: 0 !important;
  }


  .css-1n6sfyn-MenuList{
    font-family: "artin-regular" !important;
    font-size: 14px !important;
  }



  /* ************************************************************************************ */
  /* .MuiDataGrid-columnHeadersInner{
    width: 100% !important;
  }
  .css-yrdy0g-MuiDataGrid-columnHeaderRow {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
  } */

  .MuiDataGrid-columnHeaderTitleContainer{
    justify-content: center !important;
  }

  .MuiDataGrid-cellContent{
    @apply !font-artin-regular
  }

  .MuiDataGrid-columnHeadersInner {
    @apply bg-[#e1e1e1] !text-[#626262]
  }

  .MuiDataGrid-virtualScrollerRenderZone > div:nth-child(even){
  background-color: #f7f7f7 !important;
  }

  .MuiDataGrid-virtualScrollerRenderZone > div:last-child > div{
    @apply !border-none 
  }

  .css-axafay-MuiDataGrid-virtualScroller{
   overflow: initial !important;
  }


  .btn_pay{
    @apply border border-neutral-200 rounded-lg px-2 py-1 hover:bg-indigo-900 hover:text-white transition-all duration-300
  }


  .toastContainer{
    @apply !z-[9999] font-artin-bold
  }

  .toastContainer .content{
@apply !mx-2
  }